<p></p>
<h3>Product information</h3>
<h5></h5>

<p></p>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{prod.title}}</td>
        <td>{{prod.categoryTitle}}</td>
        <td>{{prod.price}}</td>
    </tr>
    </tbody>
</table>

<p></p>
<span ng-show="prod.comments.length == 0">There are no comments on the Product</span>

<p></p>
<table class="table" ng-show="prod.comments.length > 0">
    <thead>
    <tr>
        <th scope="col">Product comments</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="c in prod.comments">
        <td>{{c}}</td>
    </tr>
    </tbody>
</table>

<p></p>
<form novalidate ng-submit="createComment(prod.id)" ng-show="isUserLoggedIn() && isUserBoughtProduct == true">
    <div class="mb-3">
        <label for="inputTitle" class="form-label">Write a new comment</label>
        <input type="text" class="form-control" ng-model="comment.title" id="inputTitle">
    </div>
        <button type="submit" class="btn btn-primary">Send</button>
</form>
