<h3>Registration form</h3>

<form ng-submit="tryToSignUp()">
    <div class="form-group">
        <label for="inputUsername">Username</label>
        <input class="form-control" id="inputUsername" placeholder="Enter username" ng-model="userRegister.username" type="text">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input class="form-control" id="inputPassword" placeholder="Enter password" ng-model="userRegister.password" type="password">
    </div>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input class="form-control" id="inputEmail" placeholder="Enter email" ng-model="userRegister.email" type="text">
    </div>

    <button type="submit" class="btn btn-primary">Sign up</button>
</form>